:host {
  --board-size: 3;

  display: grid;
  grid-template-columns: repeat(var(--board-size), 1fr);
  grid-template-rows: repeat(var(--board-size), 1fr);
  min-height: 300px;
  min-width: 300px;
  /* border: 2px solid blue; */
}

.cell {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3px;
  padding: 5px;
  background-color: lightblue;
  cursor: pointer;
  font-size: 3.5rem;
}

.cell .cell-num {
  position: absolute;
  left: 1px;
  top: 0px;
  font-size: 10px;
  color: grey;
  font-weight: initial !important;
  -webkit-text-stroke: 0px transparent !important;
}
